body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  color: white;
  background: black;
}

header h1 {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 4em;
}

h1 > a {
  text-decoration: none;
  color: white;
}

main {
  /* margin: 0; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.wireframe {
  text-align: center;
  flex: 1 30%;
  /* margin: 10px; */
  padding: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px gray;
  font-size: 1.5em;
}

.wireframe img {
  width: 60%;
}
